[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
click = "*"
ipython = "*"

[packages]
django = "*"
django-rest-framework = "*"
protobuf = "*"
django-cors-headers = "*"

[requires]
python_version = "3.7"
